.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-Regular.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-Light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Panton";
  src: url("../fonts/Panton-Bold.woff");
  font-weight: 700;
}

body {
  overflow-x: hidden;
  background: #ffffff;
  color: #000000;
  font-family: "Panton", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

.m-info {
  display: block;
  position: relative;
  width: 100%;
  padding: 14px 0;
  background-color: #e2e7ed;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
  }

  &__row {
    display: inline-block;
    flex: 1 0 auto;
    margin: 0 20px 0 0;
    color: #484b4e;
    font-size: 14px;
    font-weight: 400;

    sup {
      font-size: 8px;
    }

    i {
      display: inline-block;
      margin-right: 4px;
      color: #ec681f;
    }

    a {
      color: #484b4e;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ec681f;
        text-decoration: none;
      }
    }
  }

  &__phone {
    display: inline-block;
    margin: 0 20px;
    color: #484b4e;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      color: #ec681f;
      text-decoration: none;
    }
  }

  &__link {
    display: inline-block;
    color: #ec681f;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #ec681f;
      text-decoration: none;
    }
  }
}

.m-header {
  display: block;
  position: relative;
  width: 100%;
  padding: 15px 0;
  border-bottom: 10px solid #363636;
  background: #ffffff;
  z-index: 3;

  &>.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }

  &__toggle {
    display: none;
    max-width: 100%;
    padding: 6px 0 6px 6px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.9);
      text-decoration: none;
    }
  }

  &__logo {
    display: inline-block;
    max-width: 100%;
    margin-right: 150px;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.9);
      text-decoration: none;
    }
  }

  &__hr {
    display: inline-block;
    width: 1px;
    height: 70px;
    margin: 0;
    background-color: #cbd2db;
  }

  &__nav {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    list-style: none;

    &>li {
      display: inline-block;

      &>a {
        display: inline-block;
        margin-left: 30px;
        padding: 6px 0;
        border-bottom: 4px solid transparent;
        color: #363636;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          border-color: #ec681f;
          color: #ec681f;
          text-decoration: none;
        }
      }
    }
  }

  &__dropper {
    position: relative;

    &:hover {
      &>a {
        border-color: #ec681f;
      }

      .m-header__drop {
        display: block;
      }
    }
  }

  &__drop {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 285px;
    margin: 0 0 0 30px;
    padding: 20px 30px;
    box-shadow: 0 13px 35px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    z-index: 7;

    li {
      display: block;

      a {
        display: block;
        padding: 9px 0;
        color: #363636;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #ec681f;
          text-decoration: none;
        }
      }
    }
  }
}

.a-swiper {
  display: block;
  position: relative;
  width: 100%;

  &__card {
    display: block;
    position: relative;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left calc((100vw - 1200px) / 2 + 420px) top -125px;
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 570px;
    height: 675px;
    padding: 40px 0;
    overflow-y: auto;
  }

  &__title {
    display: block;
    margin: 0 0 28px 0;
    color: #363636;
    font-size: 45px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    width: 100%;
    max-width: 425px;
    margin: 0 0 30px 0;
    color: #363636;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.67;
  }

  &__button {
    display: inline-block;
    padding: 12px 45px;
    border-radius: 999rem;
    background-color: #ec681f;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #ff9a64;
      color: #ffffff;
      text-decoration: none;
    }
  }

  .swiper-pagination {
    width: auto !important;
    bottom: 40px;
    left: calc((100vw - 1200px) / 2);
    text-align: left;

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 10px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: #363636;
      z-index: -1;
    }
  }

  .swiper-pagination-bullet {
    width: 22px;
    height: 22px;
    margin: 0 20px 0 0 !important;
    border: 1px solid #363636;
    border-radius: 999rem;
    background-color: #ffffff;
    opacity: 1;

    &:last-child {
      margin: 0 !important;
    }
  }

  .swiper-pagination-bullet-active {
    position: relative;

    &:before {
      display: block;
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      left: 5px;
      top: 5px;
      border-radius: 999rem;
      background-color: #ec681f;
      z-index: 1;
    }
  }
}

.m-home-double {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -110px;
  background: url('../images/home_svg_1.svg') no-repeat center top;
  z-index: 1;
  pointer-events: none;
}

.m-home-services {
  display: block;
  position: relative;
  width: 100%;
  padding: 80px 0 30px 0;

  &__title {
    display: block;
    margin: 0 0 65px 0;
    color: #ffffff;
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: right;
    line-height: 1.3;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 360px;
    margin: 0 0 30px 0;
    pointer-events: all;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      .m-home-services__card-hr {
        width: 100%;
        max-width: 235px;
      }

      text-decoration: none;
    }

    &-image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 312px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-title {
      display: block;
      margin: 15px 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      transition: all 0.2s ease-out;
    }

    &-hr {
      display: inline-block;
      width: 70px;
      height: 3px;
      background-color: #363636;
      transition: all 0.2s ease-out;
    }
  }
}

.m-double-form {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0 90px 0;
  pointer-events: all;

  &__title {
    display: block;
    margin: 0 0 12px 0;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__text {
    display: block;
    margin: 0 0 22px 0;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
  }

  &__this {
    display: block;
    position: relative;
    width: 100%;
  }

  &__button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    background-color: #363636;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: #ffffff;
      color: #363636;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    margin: 0 0 10px 0;
    opacity: 0.5;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
  }

  input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 14px 30px;
    border: 0;
    outline: none;
    border-radius: 999rem;
    background-color: #ffffff;
    color: #484b4e;
    font-size: 18px;
    font-weight: 400;
  }
}

.m-home-seo {
  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-height: 700px;
    padding: 20px calc((100vw - 1200px) / 2) 180px 15px;
    overflow-y: auto;
    line-height: 1.5;
  }

  &__image {
    display: block;
    width: 1111px;
    height: 812px;
    margin-top: -245px;
    margin-right: -20px;
    mask-image: url('../images/home_svg_2.svg');
    background-position: center center;
    background-size: cover;
  }

  &__title {
    display: block;
    margin: 0 0 20px 0;
    color: #363636;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    display: block;
    margin: 0 0 25px 0;
    color: #363636;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  a {
    color: #ec681f;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #ec681f;
      text-decoration: none;
    }
  }

  ul {
    list-style: none;
    line-height: 1.5;

    li {
      display: block;
      position: relative;

      &:before {
        display: block;
        position: absolute;
        content: '—';
        left: -20px;
        top: 0;
        color: #ec681f;
        font-weight: 400;
      }
    }
  }

  b,
  strong {
    font-size: 18px;
    font-weight: 700;
  }
}

.m-home-features {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -310px;
  padding: 330px 0 320px 0;
  background: url('../images/home_svg_3.svg') no-repeat center;
  background-size: 100% 100%;

  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #363636;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    padding: 0 0 30px 0;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 265px;
    margin: 0 0 30px 0;

    &-image {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: flex-start;
      width: 75px;
      height: 75px;
      margin-bottom: 25px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-title {
      display: block;
      margin: 0 0 20px 0;
      color: #363636;
      font-size: 20px;
      font-weight: 700;
      line-height: 1.2;
    }

    &-text {
      display: block;
      margin: 0;
      color: #484b4e;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }

  &__form {
    display: block;
    position: relative;
    width: 100%;
    padding: 55px 0 0 0;

    &-button {
      display: block;
      width: 100%;
      max-width: 270px;
      margin: 0 15px 10px 15px;
      padding: 15px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background-color: #ec681f;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background-color: #ffffff;
        color: #ec681f;
        text-decoration: none;
      }
    }

    &-info {
      display: block;
      margin: 0;
      opacity: 0.5;
      color: #343434;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
    }

    input {
      display: block;
      width: 100%;
      max-width: 270px;
      margin: 0 15px 10px 15px;
      padding: 14px 30px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background-color: #ffffff;
      color: #484b4e;
      font-size: 18px;
      font-weight: 400;
    }

    &-title {
      display: block;
      margin: 0 0 14px 0;
      color: #ec681f;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
    }

    &-text {
      display: block;
      margin: 0 0 32px 0;
      color: #484b4e;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.6;
      text-align: center;
    }

    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: stretch;
      position: relative;
      width: 100%;
      padding-bottom: 15px;
    }
  }
}

.m-home-reviews {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -230px;
  padding: 175px 0 590px 0;
  background: url('../images/home_svg_4.svg') no-repeat center;
  background-size: 100% 100%;

  &__title {
    display: block;
    margin: 0 0 46px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;

    .slick-next,
    .slick-prev {
      width: 26px;
      height: 49px;
      outline: none;
      background-position: center center;
      background-repeat: no-repeat;
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.7;
      }
    }

    .slick-next {
      margin-right: -50px;
      background: url("../images/icon_slick_next.png");

      &:before {
        display: none;
      }
    }

    .slick-prev {
      margin-left: -50px;
      background: url("../images/icon_slick_prev.png");

      &:before {
        display: none;
      }
    }
  }

  &__card {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 5px;
    background-color: #ffffff;

    &-overlay {
      display: none;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 5px;
      z-index: 1;
      background-color: rgba(217, 90, 21, 0.76);
      transition: all 0.2s ease-out;
    }

    &-image {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 190px;
      height: 265px;
      box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      transition: all 0.2s ease-out;

      img {
        max-width: 100%;
        max-height: 100%;
        border-radius: 5px;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        .m-home-reviews__card-overlay {
          display: flex;
        }

        text-decoration: none;
      }
    }

    &-content {
      display: inline-block;
      width: 100%;
      max-width: 300px;
      padding-left: 30px;
    }

    &-title {
      display: block;
      height: 48px;
      overflow: hidden;
      margin: 0 0 20px 0;
      color: #363636;
      font-size: 20px;
      font-weight: 400;
    }

    &-text {
      display: block;
      height: 144px;
      overflow: hidden;
      margin: 0 0 30px 0;
      color: #484b4e;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    &-author {
      display: block;
      margin: 0;
      color: #484b4e;
      font-size: 20px;
      font-weight: 400;
    }
  }
}

.m-home-clients {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -500px;
  padding: 155px 0 180px 0;
  background: url('../images/home_svg_5.svg') no-repeat center center;
  background-size: 100% 100%;

  &_about {
    margin-top: -320px;
    padding-bottom: 80px;
    background: transparent;
  }

  &__title {
    display: block;
    margin: 0 0 50px 0;
    color: #363636;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &__card {
    display: inline-flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 240px;
    height: 200px;
    background: #ffffff;
    padding: 5px;

    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
}

#map {
  display: block;
  position: relative;
  width: 100%;
  height: 650px;
}

.m-contacts {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -125px;
  z-index: 1;

  .container {
    height: 100%;

    .row {
      height: 100%;
    }
  }

  &__marker {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -96px;
    margin-left: -43px;
    z-index: 0;
  }

  &__content {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 650px;
    overflow-y: auto;
    background-color: rgba(67, 69, 72, 0.75);
    z-index: 2;

    &-title {
      display: block;
      margin: 0 0 35px 0;
      color: #ffffff;
      font-size: 40px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-info {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.67;

      a {
        color: #ffffff;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #ec681f;
          text-decoration: none;
        }
      }
    }

    &-phone {
      display: block;
      margin: 20px 0;
      color: #ffffff;
      font-size: 30px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ec681f;
        text-decoration: none;
      }
    }
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 400px;
    padding: 45px 55px;
    box-shadow: 0 19px 37px 1px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    background-color: #ffffff;
    text-align: center;

    &-title {
      display: block;
      margin: 0 0 15px 0;
      color: #363636;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }

    &-text {
      display: block;
      margin: 0 0 44px 0;
      color: #363636;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.67;
    }

    &-button {
      display: block;
      width: 100%;
      margin: 40px 0 45px 0;
      padding: 15px;
      border: 0;
      outline: none;
      border-radius: 999rem;
      background-color: #ec681f;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover {
        background-color: #ffffff;
        color: #ec681f;
        text-decoration: none;
      }
    }

    &-info {
      display: block;
      max-width: 215px;
      margin: 0;
      opacity: 0.5;
      color: #989ea4;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
    }

    input {
      display: block;
      width: 100%;
      margin: 0 0 20px 0;
      padding: 14px 30px;
      border: 1px solid #ec681f;
      outline: none;
      border-radius: 999rem;
      background-color: #ffffff;
      color: #484b4e;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
    }
  }
}

.m-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0 60px 0;
  background: #ffffff;
  z-index: 5;

  &__logo {
    display: block;
    max-width: 100%;
    margin: 0 0 180px 0;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover {
      transform: scale(0.9);
      text-decoration: none;
    }
  }

  &__hr {
    display: inline-block;
    position: absolute;
    width: 1px;
    height: 100%;
    left: 40px;
    top: 0;
    margin: 0 40px 0 25px;
    background-color: #cbd2db;
  }

  &__link {
    display: inline;
    color: #484b4e;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #ec681f;
      text-decoration: none;
    }
  }

  &__creators {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    position: relative;
    margin: 10px 0 0 0;
    color: #484b4e;
    font-size: 16px;
    font-weight: 400;

    img {
      display: inline-block;
      margin: 2px 4px;
    }

    a {
      color: #484b4e;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ec681f;
        text-decoration: none;
      }
    }
  }

  &__nav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;

      a {
        display: block;
        margin: 0 0 25px 0;
        color: #363636;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover {
          color: #ec681f;
          text-decoration: none;
        }
      }
    }
  }

  &__subnav {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;

      a {
        display: block;
        margin: 0 0 20px 0;
        color: #363636;
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: undernoneline;
        transition: all 0.2s ease-out;

        &:hover {
          color: #ec681f;
          text-decoration: none;
        }
      }

      &:last-child {
        a {
          margin-bottom: 0;
        }
      }
    }
  }

  &__social {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;

    a {
      display: inline-block;
      padding: 10px 20px 0 0;
      color: #ec681f;
      font-size: 18px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: undernoneline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #363636;
        text-decoration: none;
      }
    }
  }
}

.m-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
  }

  &__close {
    display: block;
    position: absolute;
    right: 30px;
    top: 25px;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 460px;
    margin: 10px 0;
    padding: 82px 40px 44px 40px;
    box-shadow: 0 22px 38px rgba(0, 0, 0, 0.27);
    border-radius: 5px;
    background-color: #ffffff;
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 20px 0;
    color: #363636;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
  }

  &__text {
    display: block;
    margin: 0 0 32px 0;
    color: #363636;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    line-height: 1.5;
    text-align: center;
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    max-width: 270px;

    input {
      display: block;
      width: 100%;
      margin: 0 auto 30px auto;
      padding: 17px;
      border: 1px solid #ec681f;
      outline: 0;
      border-radius: 999rem;
      background: #ffffff;
      color: #363636;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      transition: all 0.2s ease-out;
    }
  }

  &__button {
    display: block;
    width: 100%;
    margin-bottom: 50px;
    padding: 16px;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    background: #ec681f;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ffffff;
      color: #ec681f;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    margin: 0;
    opacity: 0.5;
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
}

.a-breadcrumps {
  display: block;
  width: 100%;
  padding: 3px 0 12px 0;
  background-color: #363636;
  z-index: 3;

  &__this {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;

    a {
      color: #ffffff;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #ec681f;
        text-decoration: none;
      }
    }

    span {
      display: inline-block;
      margin: 0 5px;
    }
  }
}

.a-page {
  display: block;
  position: relative;
  width: 100%;
  padding: 70px 0 0 0;

  &__title {
    display: block;
    margin: 0 0 70px 0;
    color: #363636;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }
}

.a-catalog {
  display: block;
  position: relative;
  width: 100%;

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin: 0 auto 160px auto;
    overflow: hidden;
    color: #484b4e;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #ec681f;
      text-decoration: none;

      .a-catalog__card-line {
        margin-left: 40px;
        opacity: 1;
      }
    }

    &-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 165px;
      margin-bottom: 50px;

      img {
        max-width: 100%;
        max-height: 100%;
      }
    }

    &-line {
      display: block;
      position: relative;
      max-width: 100%;
      max-height: 330px;
      margin-top: -95px;
      margin-left: -410px;
      margin-bottom: 20px;
      opacity: 0;
      transition: all 0.4s ease-out;
    }

    &-title {
      display: block;
      margin: 0;
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      transition: all 0.2s ease-out;
    }
  }
}

.a-catalog-seo {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 40px;
  background: url('../images/catalog_seo_bg.svg') no-repeat left calc((100vw - 1200px) / 2 - 365px) top;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 776px;
    padding: 30px 0;
    overflow-y: auto;
    color: #484b4e;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    ul {
      list-style: none;

      li {
        display: block;
        position: relative;

        &:before {
          display: block;
          position: absolute;
          content: '—';
          left: -20px;
          top: 0;
          color: #ec681f;
          font-weight: 400;
        }
      }
    }

    p {
      display: block;
      margin: 0 0 10px 0;
    }

    b,
    strong {
      font-size: 18px;
      font-weight: 700;
    }

    a {
      color: #ec681f;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #ec681f;
        text-decoration: none;
      }
    }
  }

  &__title {
    display: block;
    margin-bottom: 0 0 22px 0;
    color: #363636;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__big {
    margin-left: -206px;
  }
}

.a-stocks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 550px;
    margin: 0 auto 70px auto;
    border-radius: 5px;
    background-image: linear-gradient(to top, #d5540d 0%, #f18346 100%);
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;

      .a-stocks__card-button {
        background-color: #5e5e5e;
      }
    }

    &-image {
      display: block;
      position: relative;
      width: 100%;
      height: 225px;
      border-radius: 5px 5px 0 0;
      background-position: center top;
      background-size: cover;
      z-index: 1;
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      width: 100%;
      padding: 26px 70px 20px 70px;
    }

    &-date {
      display: block;
      position: absolute;
      left: 0;
      top: 20px;
      padding: 8px 16px;
      border-radius: 0 5px 5px 0;
      background-color: #363636;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;

      i {
        display: inline-block;
        margin-right: 10px;
      }
    }

    &-title {
      display: block;
      margin: 0 0 30px 0;
      color: #ffffff;
      font-size: 25px;
      font-weight: 400;
      text-align: center;
    }

    &-button {
      display: inline-block;
      padding: 12px 45px;
      border-radius: 999rem;
      background-color: #363636;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      transition: all 0.2s ease-out;
    }
  }
}

.a-groups {
  display: block;
  position: relative;
  width: 100%;

  &__card {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 60px;

    &-image {
      display: block;
      width: 100%;
      max-width: 570px;
      height: 385px;
      border-radius: 5px;
      background-size: cover;
      background-position: center center;
    }

    &-content {
      display: block;
      position: relative;
      height: 325px;
      margin-top: 30px;
      padding: 30px 0;
      border-radius: 0 5px 5px 0;
      border-top: 1px solid #ec681f;
      border-bottom: 1px solid #ec681f;
      border-right: 1px solid #ec681f;
      background-color: #ffffff;

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 30px;
        height: calc(100% + 2px);
        right: 100%;
        top: -1px;
        border-top: 1px solid #ec681f;
        border-bottom: 1px solid #ec681f;
        z-index: 1;
      }
    }

    &-title {
      display: block;
      height: 120px;
      overflow: hidden;
      margin: 0 0 6px 0;
      color: #363636;
      font-size: 25px;
      font-weight: 400;
    }

    &-price {
      display: block;
      margin: 0 0 40px 0;
      color: #ec681f;
      font-size: 25px;
      font-weight: 400;

      b,
      strong {
        color: #484b4e;
        font-size: 40px;
        font-weight: 700;
      }
    }

    &-info {
      display: block;
      margin: 5px 0 22px 0;
      padding-left: 40px;

      b,
      strong {
        display: block;
        margin: 0;
        opacity: 0.8;
        color: #ec681f;
        font-size: 20px;
        font-weight: 700;
      }
    }

    &-subtitle {
      display: block;
      margin: 0 0 4px 0;
      opacity: 0.5;
      color: #484b4e;
      font-size: 12px;
      font-weight: 400;
    }

    &-hr {
      display: block;
      position: absolute;
      top: 0;
      left: 15px;
      width: 1px;
      height: 100%;
      background-color: #0d0e12;
      opacity: 0.3;
    }

    &-order {
      display: block;
      width: 100%;
      padding: 13px;
      border: 0;
      outline: 0;
      border: 1px solid #ec681f;
      border-radius: 999rem;
      background: transparent;
      color: #484b4e;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        background: #ec681f;
        color: #ffffff;
        text-decoration: none;
      }
    }

    &-more {
      display: block;
      width: 100%;
      padding: 13px;
      border: 0;
      outline: 0;
      border: 1px solid #ec681f;
      border-radius: 999rem;
      background: #ec681f;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        background: #ff9a64;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.a-group-seo {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 40px;
  background: url('../images/group_svg_seo.svg') no-repeat left calc((100vw - 1200px) / 2 - 365px) top;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: 706px;
    padding: 100px 0 30px 0;
    overflow-y: auto;
    color: #484b4e;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

    ul {
      list-style: none;

      li {
        display: block;
        position: relative;

        &:before {
          display: block;
          position: absolute;
          content: '—';
          left: -20px;
          top: 0;
          color: #ec681f;
          font-weight: 400;
        }
      }
    }

    p {
      display: block;
      margin: 0 0 10px 0;
    }

    b,
    strong {
      font-size: 18px;
      font-weight: 700;
    }

    a {
      color: #ec681f;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #ec681f;
        text-decoration: none;
      }
    }
  }

  &__title {
    display: block;
    margin-bottom: 0 0 22px 0;
    color: #363636;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__big {
    margin-left: -200px;
    margin-top: 94px;
  }
}

.a-item {
  display: block;
  position: relative;
  width: 100%;
  z-index: 1;

  &__image {
    display: block;
    width: 100%;
    max-width: 700px;
    height: 395px;
    background-position: center center;
    background-size: cover;
  }

  &__title {
    display: block;
    margin: 0 0 40px 0;
    color: #363636;
    font-size: 30px;
    font-weight: 400;
  }

  &__price {
    display: block;
    margin: 0 0 45px 0;
    color: #ec681f;
    font-size: 25px;
    font-weight: 400;

    b,
    strong {
      color: #484b4e;
      font-size: 40px;
      font-weight: 700;
    }
  }

  &__button {
    display: inline-block;
    padding: 13px 53px;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    background: #ec681f;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ff9a64;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__tabs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 80px 0 0 0;
    border-bottom: 1px solid rgba(13, 14, 18, 0.3);
    list-style: none;

    li {
      display: inline-block;
      padding: 7px 0 5px 0;
      border-bottom: 2px solid transparent;
      opacity: 0.8;
      color: #484b4e;
      font-size: 20px;
      font-weight: 400;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 1;
        border-color: #ec681f;
        color: #ec681f;
        text-decoration: none;
      }
    }
  }

  &__tabitem {
    position: relative;
    margin-bottom: -1px;
    z-index: 1;

    &.a-item__tabitem_active {
      opacity: 1 !important;
      border-color: #ec681f !important;
      color: #ec681f !important;
    }
  }

  &__tabcontent {
    display: none;
    position: relative;
    width: 100%;
    padding: 26px 0 4px 0;
    color: #484b4e;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;

    &.a-item__tabcontent_active {
      display: block;
    }

    p {
      margin: 0 0 30px 0;
    }
  }

  &__form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    margin: 50px 0 0 0;
    padding: 36px 22px 44px 22px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #ededed 0%, #fcfcfc 100%);
    box-shadow: 0 54px 60px #eaeaea;
    z-index: 6;

    &-title {
      display: block;
      position: relative;
      width: 100%;
      margin: 0 0 10px 0;
      color: #484b4e;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
    }

    &-text {
      display: block;
      margin: 0 0 26px 0;
      color: #363636;
      color: #484b4e;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
    }

    input {
      display: block;
      width: 100%;
      margin: 0 auto 20px auto;
      padding: 17px;
      border: 0;
      outline: 0;
      border-radius: 999rem;
      background: #ffffff;
      color: #363636;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      transition: all 0.2s ease-out;
    }

    &-button {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      padding: 16px;
      border: 0;
      outline: 0;
      border-radius: 999rem;
      background: #ec681f;
      color: #ffffff;
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        background: #ff9a64;
        color: #ffffff;
        text-decoration: none;
      }
    }

    &-info {
      display: block;
      margin: 0;
      opacity: 0.5;
      color: #232323;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
    }
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
    padding: 105px 0 0 0;
  }

  &__card {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 370px;
    margin-bottom: 30px;

    &-icon {
      display: inline-block;
      max-width: 95px;
      max-height: 95px;
      margin-right: 20px;
    }

    &-subtitle {
      display: block;
      margin: 0 0 14px 0;
      opacity: 0.8;
      color: #484b4e;
      font-size: 16px;
      font-weight: 400;
    }

    &-title {
      display: block;
      margin: 0;
      color: #ec681f;
      font-size: 25px;
      font-weight: 400;
    }
  }
}

.a-gallery {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -120px;
  padding: 355px 0 0 0;
  background: url('../images/gallery_bg.svg') no-repeat center top;

  &__title {
    display: block;
    margin: 0 0 46px 0;
    color: #363636;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 370px;
    height: 240px;
    margin: 0 auto 30px auto;
    background-position: center center;
    background-size: cover;
    box-shadow: 0 11px 45px 1px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      .a-gallery__card-content {
        opacity: 1;
      }

      text-decoration: none;
    }

    &-content {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 20px;
      border-radius: 5px;
      opacity: 0;
      background-color: rgba(217, 90, 21, 0.76);
      transition: all 0.2s ease-out;

      img {
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }
  }
}

.a-article {
  display: block;
  position: relative;
  width: 100%;

  &__image {
    display: block;
    width: 100%;
    max-width: 700px;
    height: 520px;
    background-position: center center;
    background-size: cover;
  }

  &__title {
    display: block;
    margin: 0 0 36px 0;
    color: #363636;
    font-size: 35px;
    font-weight: 400;
  }

  &__price {
    display: block;
    margin: 0 0 25px 0;
    color: #ec681f;
    font-size: 25px;
    font-weight: 400;

    b,
    strong {
      color: #484b4e;
      font-size: 40px;
      font-weight: 700;
    }
  }

  &__button {
    display: inline-block;
    margin-bottom: 38px;
    padding: 13px 53px;
    border: 0;
    outline: 0;
    border-radius: 999rem;
    background: #ec681f;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #ff9a64;
      color: #ffffff;
      text-decoration: none;
    }
  }

  &__subtitle {
    display: block;
    margin: 0 0 26px 0;
    color: #363636;
    font-size: 20px;
    font-weight: 400;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 375px;
    margin: 0 0 20px 0;

    &-title {
      display: block;
      margin: 0;
      color: #484b4e;
      font-size: 16px;
      font-weight: 400;
    }

    &-item {
      display: block;
      max-width: 50px;
      max-height: 50px;
      margin-right: 5px;
    }

    &-text {
      display: block;
      margin: 6px 0 0 0;
      opacity: 0.5;
      color: #484b4e;
      font-size: 12px;
      font-weight: 400;
    }
  }

  &__cities {
    display: block;
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 50px auto 85px auto;
    padding: 35px 20px 40px 20px;
    border-radius: 5px;
    background-image: linear-gradient(to bottom, #d5540d 0%, #f18346 100%);

    /* width */
    ::-webkit-scrollbar {
      width: 9px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: #f0f0f0;
      border-radius: 0 5px 5px 0;
      box-shadow: inset 0 0 7px rgba(78, 78, 78, 0.66);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #363636;
      border-radius: 5px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #ec681f;
    }

    &-title {
      display: block;
      margin: 0 0 25px 0;
      color: #ffffff;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.5;
      text-align: center;
    }

    &-this {
      display: block;
      position: relative;
      width: 100%;
      height: 390px;
      margin: 0;
      padding: 20px 35px;
      list-style: none;
      overflow-y: auto;
      box-shadow: inset 0 0 7px rgba(78, 78, 78, 0.66);
      border-radius: 5px;
      background-color: #ffffff;
      color: #484b4e;
      font-size: 16px;
      font-weight: 400;
      line-height: 2.25;
    }
  }

  &__content {
    display: block;
    position: relative;
    width: 100%;
    padding: 50px 0 0 0;

    p {
      display: block;
      margin: 0 0 25px 0;
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      display: block;
      margin: 0 0 16px 0;
      color: #1d1d1d;
      font-weight: 400;
    }

    h2 {
      font-size: 26px;
    }

    h3 {
      font-size: 20px;
    }

    h4 {
      font-size: 18px;
    }

    h5 {
      font-size: 16px;
      color: #1d1d1d;
      font-weight: 700;
    }

    h6 {
      margin-bottom: 5px;
      font-size: 12px;
    }

    a {
      color: #ec681f;
      cursor: pointer;
      text-decoration: underline;
      transition: all 0.2s ease-out;

      &:hover {
        color: #ec681f;
        text-decoration: none;
      }
    }

    ul {
      display: block;
      list-style: none;

      li {
        display: block;
        position: relative;
        width: 100%;
        color: #1d1d1d;
        font-size: 16px;
        font-weight: 400;

        &:before {
          display: block;
          position: absolute;
          content: '—';
          left: -20px;
          top: 0;
          color: #ec681f;
          font-weight: 700;
          font-size: 16px;
        }
      }
    }

    blockquote {
      display: block;
      position: relative;
      width: 100%;
      margin: 40px 0 55px 0;
      padding: 48px 40px;
      border-left: 5px solid #ec681f;
      background: rgba(236, 103, 31, 0.1);
      color: #1d1d1d;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5;
    }
  }
}


.table {
  margin-bottom: 40px;
  background: #ffffff;
}

.table td,
.table th {
  padding: 10px 22px;
  border: 0;
  color: #484b4e;
  font-size: 16px;
  font-weight: 400;
}

.table thead th {
  padding: 10px 22px;
  background: #ec681f;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.table-striped tbody tr:nth-of-type(odd) {
  background: rgba(236, 103, 31, 0.05);
}

.table-striped tbody tr:nth-of-type(even) {
  background: #ffffff;
}

.table-striped tbody td:nth-of-type(odd) {
  background: rgba(236, 103, 31, 0.05);
}

.table-responsive {
  margin: 20px 0;
  color: #484b4e;
  font-size: 16px;
  font-weight: 400;
}

.a-how {
  display: block;
  position: relative;
  width: 100%;
  margin-top: 60px;
  padding: 115px 0 130px 0;
  background: url('../images/how_bg.svg') no-repeat;
  background-size: 100% 100%;

  &__title {
    display: block;
    margin: 0 0 36px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    margin: 0 0 72px 0;
    padding-top: 10px;

    &-icon {
      display: block;
      width: 40px;
      height: 40px;
      object-fit: scale-down;
    }

    &-title {
      display: block;
      margin: 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 400;
      z-index: 1;
    }

    &-number {
      display: block;
      position: absolute;
      right: 30px;
      top: 0;
      opacity: 0.1;
      color: #ffffff;
      font-size: 75px;
      font-weight: 700;
    }
  }
}

.a-about {
  display: block;
  position: relative;
  width: 100%;
  min-height: 955px;
  margin-top: -100px;
  padding: 195px 0 40px 0;
  background: url('../images/about_bg.png') no-repeat center top;
  z-index: 1;

  &__title {
    display: block;
    margin: 0 0 120px 0;
    color: #ffffff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
  }

  p {
    display: block;
    margin: 0 0 20px 0;
    color: #484b4e;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    display: block;
    margin: 0 0 16px 0;
    color: #484b4e;
    font-weight: 400;
  }

  h2 {
    font-size: 26px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 12px;
  }

  a {
    color: #ec681f;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      color: #ec681f;
      text-decoration: none;
    }
  }

  ul {
    display: block;
    list-style: none;

    li {
      display: block;
      position: relative;
      width: 100%;
      color: #484b4e;
      font-size: 16px;
      font-weight: 400;

      &:before {
        display: block;
        position: absolute;
        content: '—';
        left: -20px;
        top: 0;
        color: #ec681f;
        font-weight: 700;
        font-size: 16px;
      }
    }
  }
}

.a-papers {
  display: block;
  position: relative;
  width: 100%;
  margin-top: -220px;
  padding: 384px 0 295px 0;
  background: url('../images/papers_bg.svg') no-repeat center top;

  &__title {
    display: block;
    margin: 0 0 75px 0;
    color: #363636;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &__cards {
    display: block;
    position: relative;
    width: 100%;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 270px;
    height: 380px;
    margin: 0 auto 10px auto;
    box-shadow: 0 19px 15px 1px rgba(0, 0, 0, 0.09);
    border-radius: 5px;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover {
      .a-papers__card-overlay {
        opacity: 1;
      }

      text-decoration: none;
    }

    &-overlay {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      border-radius: 5px;
      opacity: 0;
      z-index: 1;
      background-color: rgba(217, 90, 21, 0.76);
      transition: all 0.2s ease-out;

      img {
        max-width: 100%;
        max-height: 100%;
        transition: all 0.2s ease-out;
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    outline: none;
    filter: grayscale(100) brightness(0.5);
  }

  .swiper-button-prev {
    margin-left: -60px;
  }

  .swiper-button-next {
    margin-right: -60px;
  }

  .swiper-container {
    padding: 20px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .m-info {
    padding: 8px 0;
  }

  .m-info>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .m-info__row {
    display: block;
    width: 100%;
    margin: 0 0 6px 0;
  }

  .m-info__phone {
    margin: 0 0 6px 0;
  }

  .m-header__hr {
    display: none;
  }

  .m-header__logo {
    max-width: 240px;
    margin: 0;
  }

  .m-header__nav {
    padding: 6px 0;
  }

  .m-header__nav li {
    display: block;
    width: 100%;

    a {
      display: block;
      width: 100%;
      margin-left: 0;
      padding: 6px;
      text-align: center;
    }
  }

  .m-header__dropper:hover .m-header__drop {
    display: none;
  }

  .m-header__drop {
    position: relative;
  }

  .m-home-top {
    min-height: auto;
    padding: 20px 0;
    background: #3e7cdd;
  }

  .m-home-top__content {
    min-height: auto;
    padding: 20px 0;
  }

  .m-home-top__title {
    margin-bottom: 20px;
    font-size: 28px;
  }

  .m-home-double {
    margin: 0;
    padding: 20px 0;
    background: #ec681f;
  }

  .m-home-services {
    margin: 0;
    padding: 30px 0;
  }

  .m-home-services__title {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .m-home-services__cards {
    justify-content: space-around;
  }

  .m-home-services__card {
    transform: scale(0.9);
  }

  .m-home-services__card {
    margin-bottom: 10px;
  }

  .m-double-form {
    padding: 20px 0;
  }

  .m-home-seo__image {
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
    margin: 0;
    mask-image: none;
  }

  .m-home-seo__content {
    max-height: 100%;
    overflow: visible;
    padding: 30px 15px;
  }

  .m-home-features {
    margin: 0;
    padding: 30px 0;
    background: #f1f4f7;
  }

  .m-home-features__cards {
    justify-content: space-around;
    padding: 0;
  }

  .m-home-features__card {
    align-items: center;
    margin-bottom: 30px;
    text-align: center;
  }

  .m-home-reviews {
    margin: 0;
    padding: 30px 0;
    background: #ec681f;
  }

  .m-home-clients {
    margin: 0;
    padding: 30px 0;
    background: #ffffff;
  }

  .m-home-reviews__title {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .m-home-reviews__card-content {
    padding: 10px 0 0 0;
  }

  .m-home-reviews__card {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .m-home-reviews__cards .slick-next,
  .m-home-reviews__cards .slick-prev {
    top: -40px;
  }

  .m-home-reviews__cards .slick-next {
    margin-right: 15px;
  }

  .m-home-reviews__cards .slick-prev {
    margin-left: 15px;
  }

  .m-home-clients__title {
    margin-bottom: 20px;
    font-size: 26px;
  }

  .m-home-clients__card {
    max-width: 165px;
    height: 140px;
  }

  .m-contacts {
    margin: 0;
  }

  .m-contacts__content {
    position: relative;
    height: auto;
    padding: 30px 15px;
  }

  .m-contacts__content-title {
    margin-bottom: 20px;
  }

  .m-contacts__form {
    margin-top: 20px;
    padding: 30px 20px;
  }

  #map {
    height: 300px;
  }

  .m-footer__hr {
    display: none;
  }

  .m-footer>.container {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }

  .m-footer__link {
    margin: 10px 0;
  }

  .m-footer__creators {
    margin: 0;
  }

  .m-footer__logo {
    margin: 0;
  }

  .m-header__nav {
    display: none;
    width: 100%;
  }

  .m-info {
    display: none;
  }

  .m-header__mob {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .m-header__toggle {
    display: inline-block;
  }

  .m-contacts__marker {
    display: none;
  }

  .a-swiper__card {
    background-size: cover;
    background-position: center center;

    &>.container {
      padding: 0;
    }
  }

  .a-swiper__title {
    font-size: 28px;
  }

  .a-swiper__content {
    padding-left: 15px;
    padding-right: 15px;
    height: 550px;
    background: rgba(255, 255, 255, 0.7);
  }

  .m-home-services__title {
    text-align: center;
  }

  .a-swiper .swiper-pagination {
    left: 15px;
  }

  .m-footer {
    padding: 40px 0;

    .col-lg-3 {
      padding-left: 15px !important;
    }

    &__logo {
      margin-bottom: 20px;
    }

    &__nav {
      margin-top: 20px;
    }

    &__subnav {
      margin-bottom: 20px;
    }

    &__social {
      display: flex;
      width: 100%;
      justify-content: center;
      text-align: center;

      a {
        display: inline-block;
        padding: 10px;
      }
    }
  }

  .a-catalog-seo__big {
    display: none;
  }

  .a-page {
    padding-top: 40px;

    &__title {
      margin-bottom: 30px;
    }
  }

  .a-catalog__card {
    margin-bottom: 40px;
  }

  .a-catalog__card-line {
    opacity: 1;
  }

  .a-catalog-seo {
    padding: 20px 0;
    background: #fbfbfb;

    &__content {
      height: auto;
    }
  }

  .a-stocks__card {
    margin-bottom: 30px;
  }

  .a-stocks__card-content {
    padding: 30px 20px;
  }

  .a-group-seo {
    padding: 0;
    background: #fbfbfb;

    &__content {
      height: auto;
      padding: 20px 0;
    }
  }

  .a-group-seo__big {
    display: none;
  }

  .a-groups__card {
    margin-bottom: 20px;
  }

  .a-groups__card-image {
    height: 300px;
  }

  .a-groups__card-content {
    margin: 0;
    height: auto;
    padding: 30px 20px 0 20px;
    border-radius: 5px;
    border: 1px solid #ec681f;

    &:before {
      display: none;
    }
  }

  .a-groups__card-price {
    margin-bottom: 20px;
  }

  .a-groups__card {

    .col-md-7,
    .col-md-5 {
      padding: 0 15px !important;
    }
  }

  .a-groups__card-order {
    margin: 10px 0;
  }

  .a-groups__card-hr {
    display: none;
  }

  .a-item__image {
    height: 300px;
    margin-bottom: 20px;
  }

  .a-item__title {
    margin-bottom: 20px;
  }

  .a-item__price {
    margin-bottom: 20px;
  }

  .a-item__tabs {
    padding: 30px 0 0 0;
  }

  .a-item__tabs {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
    border: 0;
  }

  .a-item__form {
    margin: 0;
    padding: 30px 20px;
  }

  .a-item__cards {
    padding: 20px 0;
  }

  .a-gallery {
    margin: 0;
    padding: 20px 0;
  }

  .a-gallery__title {
    margin-bottom: 30px;
    text-align: center;
  }

  .a-article__image {
    height: 300px;
    margin-bottom: 20px;
  }

  .a-article__title {
    margin-bottom: 20px;
  }

  .a-article__content blockquote {
    margin: 20px 0;
    padding: 30px 20px;
  }

  .a-article__cities {
    margin: 20px auto;
    padding: 30px 20px;
  }

  .a-how {
    margin: 0;
    padding: 40px 0 20px 0;
    background: #ec681f;
  }

  .a-item__form {
    margin-bottom: 20px;
    box-shadow: none;
  }

  .a-how__title {
    margin-bottom: 30px;
  }

  .a-how__card {
    margin-bottom: 20px;
  }

  .a-papers .swiper-button-next {
    margin-right: -5px;
  }

  .a-papers .swiper-button-prev {
    margin-left: -5px;
  }

  .a-about {
    min-height: auto;
    margin: 0;
    padding: 40px 0;
    background: #ffffff;
  }

  .a-about__title {
    margin-bottom: 30px;
    color: #232323;
  }

  .a-papers {
    margin: 0;
    padding: 40px 0;
  }

  .a-papers__title {
    margin-bottom: 20px;
  }

  .a-catalog__card-line {
    margin-left: 0;
  }

  .m-home-reviews__card {
    max-width: 370px;
  }

  .m-footer__creators {
    justify-content: center;
    text-align: center;
  }

  .m-header__drop {
    margin: 0 auto 10px auto;
  }
}